/* mulish-regular - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../font/mulish-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../font/mulish-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-300 - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('../font/mulish-v7-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../font/mulish-v7-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-500 - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../font/mulish-v7-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../font/mulish-v7-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-600 - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../font/mulish-v7-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../font/mulish-v7-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-700 - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../font/mulish-v7-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../font/mulish-v7-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-800 - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    src: local(''),
    url('../font/mulish-v7-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../font/mulish-v7-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-900 - latin */
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../font/mulish-v7-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../font/mulish-v7-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



/* Upper header */

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

.wrapper{
    max-width: 1110px;
    margin: 0 auto;
}

.header_top{
    background-color: #F5FAFE;
}

.body{
    font-family: 'Mulish', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
}

.header_wrapper{
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

}

.help_info{
    display: flex;
    align-items: center;
}

.header_text{
    font-size: 10px;
    color: #333333;
    text-decoration: none;
}

.span{
    font-weight: bold;
}

.header_list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.right_side{
    margin-right: 99px;
}

.right_side:last-child{
    margin-right: 0;
}

.right_side_pic{
    margin-right: 21px;

}

.loyalty{
    display: flex;
    flex-wrap: wrap;

}

/* Middle header */

.header_middle_wrapper{
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.left_section_of_middle_header{
    display: flex;
    justify-content: space-between;
    width: 635px;

}

.search_bar{
    border-radius: 30px;
    display: flex;
}

.search_input{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 23px;
    width: 285px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    background-color: #F5FAFE;

}

.search_location{
    font-family: Mulish, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    border-style: none;
    background-color: #F5FAFE;

}

.search_button{
    width: 65px;
    height: 40px;
    border-radius: 0 5px 5px 0;
    background-color: #EC1F46;
    border: 0;
}

.right_section_of_middle_header{
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.cart{
    display: flex;
    align-items: center;
}

.cart, .ellipse{
    position: relative;
}
.ellipse{
    position: absolute;
    top: -11px;
    left: -10px;
}
.cart_text,.ellipse{
    position: relative;
    text-align: center;
}

.cart_text{
    position: absolute;
    top: 3px;
    left: 22px;
    font-family: Mulish, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #FFFFFF;
}

.profile{
    display: flex;
    justify-content: space-between;

}

.user_name{
    display: flex;
    align-items: center;
    font-family: Mulish, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    padding-right: 23px;
    padding-left: 18px;
}


/* Bottom header */

.header_bottom{
    background-color: #0A223D;
}

.wrapper_bottom{
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.menu{
    float: left;
    margin-right: 84px;
}

.header_item{
    font-family: "Mulish", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.menu:last-child{
    margin-right: 0;
}

.header_item:hover, .header_item:focus, .header_item:active{
    opacity: .75;
}

/* Navigation */

.header_location{
    background-color: #F5FAFE;
}

.location{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 50px;
}

.location_item{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #0A223D;
    text-decoration: none;
}
.slash{
    float: left;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
}

.currant_location{
    float: left;
    margin-right: 3px;
}

/* Hotel */

.grand_hilton_hotel{
    font-family: Mulish, serif;
    background-color: #F5FAFE;
}


.hotel {
    height: 100px;

}

.name_and_offer{
    display: flex;
    align-items: flex-end;

}

.hotel_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.hotel_name{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    padding-right: 12px;
}

.five_stars{
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.stars{
    padding-right: 3px;
}

.stars:last-child{
    padding-right: 0;
}

.fresh_offer{
    display: flex;
    height: 20px;
    width: 70px;
    border-radius: 5px 5px 5px 5px;
    background-color: #EC1F46;
}

.fresh_offer_text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #FFFFFF;
}

.offer_contain{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    padding-top: 4px;
}

.users_rating{
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    color: #FFFFFF;
}

.points{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.small_letter{
    font-size: 10px;
}

.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65px;
    height: 45px;
    background-color: #EC1F46;
    border-radius: 5px;
}

/* Grid with location */

.grid{
    display:grid;
    grid-template-columns: 66% 34% ;
    grid-row-gap: 30px;
    grid-column-gap: 30px;



}

.image_of_pool{
    width: 728px;
    height: 450px;
    grid-column: 1;
    grid-row: 1/3;
}

.price_per_night{
    border-radius: 5px;
    width: 350px;
    height: 210px;
    background-color: #0A223D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
}

.image_of_map{
    width: 347px;
    grid-column: 2;
    grid-row: 2;
}

.image_of_hotel{
    border-radius: 5px;
    grid-column:3;
    grid-row: 2;
}

.price_text{
    font-family: Nunito, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: #FFFFFF;
}

.price_bold{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #FFFFFF;
}

.price_info{
    display: flex;
    flex-direction: column;
}

.room_info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 40px;
    width: 80px;
}

.people_icon{
    width: 14px;
    height: 14px;
}

.house_icon{
    width: 14px;
    height: 14px;
}

.phone_icon{
    padding-right: 8px;
}

.people{
    display: flex;
    justify-content: space-between;
}

.house{
    display: flex;
    justify-content: space-between;
}

.upper_price_info{
    display: flex;
    justify-content: space-between;
    width: 295px;
}

.quick_booking_text{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.quick_booking_number{
    display: flex;
    justify-content: flex-end;
}

.quick_booking{
    display: flex;
    justify-content: space-between;
    width: 295px;
    padding-bottom: 17px;
    padding-top: 9px;

}

.view_other_options{
    width: 295px;
    height: 45px;
}

.room_info_button{
    width: 295px;
    height: 45px;
    border-radius: 4px;
    background-color: #EC1F46;
    border-style: hidden;
}

.room_button_text{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}

/* About Hotel */

.about_hotel{
    height: 36px;
    background-color: #F5FAFE;
}

.about_hotel_setting{
    display: flex;
    justify-content: space-between;
    margin-top: 4.2vh;
}

.currant_chosen_text{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #EC1F46;
    margin-bottom: 15px;
}

.bar_about_hotel{
    width: 130px;
    height: 4px;
    background-color: #EC1F46;
}

.about_hotel_text{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

/* Package Summary */

.package_summary{
    font-family: Mulish, serif;
    background-color: #F5FAFE;
}

.summary_title{
    padding-top: 40px;
    padding-bottom: 29px;
}

.summary_title_text{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.package_summary_title{
    height: 50px;
    width: 538px;
    background-color: #0A223D;
    border-radius: 4px 4px 0 0;
}

.package_summary_title_text{
    color: #FFFFFF;
}

.package_summary_list{
    height: 200px;
    width: 538px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 15% 35% 15% 35%;
    grid-template-rows: 25% 25% 25% 25%;
    border-radius: 0 0 4px 4px;
}

.circle_check_1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle_check_2{
    grid-area: 2/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle_check_3{
    grid-area: 3/ 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle_check{
    width: 18px;
    height: 18px;
}

.circle_check_4{
    grid-area: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle_check_5{
    grid-area: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.package_summary_list_text {
    display: flex;
    justify-content: start;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

.package_summary_list{
    padding-top: 20px;
    padding-right: 35px;
}

.package_summary_title{
    display: flex;
    align-items: center;
    padding-left: 1.66vw;
}

.offer_details_title{
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 50px;
    width: 538px;
    background-color: #0A223D;
    border-radius: 4px 4px 0 0;
}

.offer_details_title_text{
    color: #FFFFFF;
}

.offer_details_list{
    height: 200px;
    width: 538px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 10% 40% 10% 40%;
    grid-template-rows: 60% ;
    border-radius: 0 0 4px 4px;
}

.circle_check_6{
    display: flex;
    align-items: center;
    justify-content: center;
}

.offer_details_list_text{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}

.calendar_icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefit{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.data{
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer_details_list_text_bottom{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    grid-area: 2/2;
    display: flex;
    justify-content: start;
    align-items: center;


}

.package_summary_details_block{
    height: 50px;
    background-color: #0A223D;
    display: flex;
    align-items: center;
    padding-left: 24px;
    margin-top: 33px;
    border-radius:  4px 4px 0 0;
}

.grid_package_summary_details{
    height: 550px;
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    padding: 24px;
}

.red_title_summary_details_text{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #EC1F46;
    text-align: left;
}

.each_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 22px;
}

.circle_svg{
    margin-right: 28px;
}

.each_string{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;

}

.dotted_line{
    display: flex;
    width: 1048px;
    border: 1px dashed #E0E0E0;
    height: 0;
    margin: 45px 0 33px 24px;


}

.upperblock{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.lowerblock{
    display: grid;
    grid-template-columns: 34% 33% 33%;
    grid-column-gap: 58px;
}

.the_first_column{
    display: flex;
    justify-content: center;
    align-items: center;
}

.the_second_column{
    display: flex;
    align-items: center;
}

.the_third_column{
    display: flex;
    align-items: center;

}

.the_fourth_column{
    display: flex;
    align-items: center;



}

.the_fifth_column{
    display: flex;
    align-items: center;
    margin-left: 12px;

}

.the_sixth_column{
    display: flex;
    align-items: center;

}

.highlight_and_details{
    display: grid;
    grid-column-gap: 17px;
    grid-template-columns: 50% 50%;

}

.grid_package{
    display: grid;
    grid-row-gap: 33px;
}

/* Other Package */

.other_package_text{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin: 105px 0 65px 0;
}

.shore_view{
    border-radius: 8px 0 0 8px;
}

.side_with_text_1{
    width: 364px;
    height: 500px;
    background-color: #0A223D;
    border-radius: 0 8px 8px 0;
    padding: 47px 21px 30px 44px;
}

.hotel_1{
    display: flex;

}

.hotel_naming{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;

}

.long_text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 33px;
    margin-bottom: 51px;
    line-height: 160.6%;
}

.smaller_text{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
    padding-bottom: 13px;
}

.smaller_text:last-child{
    padding-bottom: 0;
}

.icons{
    padding-bottom: 13px;
}
.icons:last-child{
    padding-bottom: 0;
}

.svg_of_location_guests_rooms{
    display: flex;
    flex-direction: column;

}

.text_of_location_guests_rooms{
    padding-left: 15px;
}

.location_guest_room{
    display: flex;
    align-items: center;
    margin-bottom: 37px;

}

.price_1{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-decoration-line: line-through;
    color: #FFFFFF;
}

.price_2{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}


.book_now{
    width: 120px;
    height: 40px;
    border-radius: 4px;
    background-color: #EC1F46;
    color: #FFFFFF;
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    border: 0;
}

.cool_button{
    margin-top: 5px;
}

.price_and_button{
    display: flex;
    justify-content: space-between;
}

.price{
    margin-bottom: 16px;
}

.price:last-child{
    margin-bottom: 0;
}

.shore_view_2{
    width: 350px;
    height: 250px;
}

.lower_block{
    width: 350px;
    height: 250px;
    background-color: #0A223D;
    border-radius: 0 0 8px 8px;
}

.hotel_1_and_2{
    display: flex;

}

.hotel_1{
    margin-right: 20px;
}

.lower_block{
    padding: 30px 21px 30px 32px;
}

.invisible_block{
    height: 23px;
}

.flash_offer_op{
    position: absolute;
    width: 95px;
    height: 30px;
    background-color: #EC1F46;
    border-radius: 0 4px 4px 0;
    margin-top: 26px;
}

.flash_offer_op_text{
    padding-top: 9px;
    padding-right: 10px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
}

.flash_offer_op_mini{
    width: 60px;
    height: 18px;
    background-color: #EC1F46;
    border-radius: 0 4px 4px 0;
    position: absolute;
    margin-top: 26px;
}

.flash_offer_op_text_mini{
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 4px;
}

.grid_other_package{
    display: grid;
    grid-template-columns: 31% 31% 31% ;
    grid-template-rows: 50% 50%;
    grid-row-gap: 15px;
    grid-column-gap: 30px;
}


.hotel_1_and_2{
    grid-area: 1/1;
}

.hotel_3{
    grid-area: 2/1;
}

.hotel_4{
    grid-area: 2/2;
}

.hotel_5{
    grid-area: 2/3;
}

/* What people thinks about us */

.title_review{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 110px;
    margin-bottom: 70px;
}

.photolupa{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    position: absolute;
    margin-left: 515px;
    margin-top: 20px;
    z-index: 2;

}

.package_card{
    position: relative;
    width: 730px;
    height: 280px;
    text-align: center;
    background-image: url("../img/png/bg.png");
    background-size: cover;
    margin-top: 70px;
    margin-bottom: 70px;
    display: block;


}

.package_and_arrows{
    display: flex;
    justify-content: space-between;
}

.long_text_profile{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    align-items: center;
    margin-top: 33px;
}

.profile_name{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #EC1F46;
    margin-top: 54px;
}

.comment_date{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.profile_star{
    width: 6px;
    height: 6px;
}

/* Subscribe to our Newsletter */

.newsletter{
    background: url("../img/png/bg_2.png"), rgba(10, 34, 61, 0.8);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.big_news{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 16px;
}

.little_news{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF;
}

.whole_news{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 260px;
    width: 730px;
}

.search_input_2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 23px;
    width: 285px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    background-color: #F5FAFE;

}

.search_location_2{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    border-style: none;
    background-color: #F5FAFE;
}

.search_button_2{
    width: 65px;
    height: 40px;
    border-radius: 0 5px 5px 0;
    background-color: #EC1F46;
    border: 0;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
}

.search_bar_2{
    display: flex;
}

/* Other Activities */

.grid_activity{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 15px;
}

.other_activity_main_text{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    margin: 57px 0 60px;
}

.card_1{
    background: url("../img/png/card_bg.png"), linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
    background-blend-mode: darken;
    width: 255px;
    height: 255px;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 24px;
    padding-left: 26px;
    margin-bottom: 98px;
}

.card_2{
    background: url("../img/png/golf.png"), linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
    background-blend-mode: darken;
    width: 255px;
    height: 255px;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 24px;
    padding-left: 26px;
}

.card_3{
    background: url("../img/png/waterfall.png"), linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
    background-blend-mode: darken;
    width: 255px;
    height: 255px;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 24px;
    padding-left: 26px;
}

.card_4{
    background: url("../img/png/boat.png"), linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%);
    background-blend-mode: darken;
    width: 255px;
    height: 255px;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 24px;
    padding-left: 26px;
}

.the_card_text{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 18px;
}

/* Footer */

.footer{
    height: 900px;
    background-color: #0A223D;
    font-family: 'Mulish', serif;
}

.footer_list_text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #BDBDBD;
}

.title_list{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.social_network{
    width: 270px;
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

.upper_footer{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-column-gap: 7.5%;
    padding-top: 108px;
    margin-bottom: 98px;
}

.footer_list_text_lower{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #BDBDBD;
    padding-top: 24px;
}

.main_info_location{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #BDBDBD;
}

.main_info_phone{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #BDBDBD;
    width: 400px;
}

.main_info_mail{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #BDBDBD;
}

.img_of_info{
    display: flex;
    flex-direction: column;
    height: 154px;
    justify-content: space-between;
    margin-right: 22px;
}

.location_logo{
    width: 20px;
    height: 14px;

}

.phone_logo{
    height: 17px;
    width: 17px;

}

.mail_logo{
    height: 17px;
    width: 14px;
    margin-bottom: 22px;
}

.left_lower_footer{
    display: flex;
    flex-direction: column;
    width: 325px;
    margin-top: 7px;

}

.contact_details{
    margin-bottom: 22px;
}

.full_name_input{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 255px;
    background-color: #FFFFFF;
    border-radius: 4px;
    grid-area: 2/1;
}

.phone_num_input{
    height: 50px;
    width: 255px;
    background-color: #FFFFFF;
    border-radius: 4px;
    grid-area: 2/2;
}

.message_input{
    height: 123px;
    width: 540px;
    background-color: #FFFFFF;
    border-radius: 4px;
    grid-area: 3/1;
}

.send{
    width: 160px;
    height: 50px;
    background-color: #EC1F46;
    border-radius: 4px;
    border-style: none;
    color: #FFFFFF;
}

.required{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #E0E0E0;
}

.footer_input{
    border-style: none;
    padding-left: 23px;
    padding-top: 18px;
}

.info_and_icon{
    display: flex;
    flex-direction: row;
}

.footer_info{
    display: flex;
    flex-direction: column;
    height: 154px;
    justify-content: space-between;
}

.enter_the_info{
    display: grid;
    grid-template-columns: 31% 31%;
    grid-template-rows: 12% 20% 49% 27%;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    justify-content: end;
    padding-right: 30px;
}

.lower_footer{
    display: flex;

}

.footer_button{
    grid-area: 4/1;
}

.required_fields{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
    grid-area: 4/2;
}


.text_bottom{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;

}


.full_bottom_footer{
    display: flex;
    width: 696px;
    justify-content: space-between;
}

.full_bottom_footer_2{
    display: flex;
    justify-content: flex-end;
}